.home header {
  background: url("../../../images/city.jpg") no-repeat #192127; }
  .home header a {
    color: white; }
  .home header .main-actions-btns {
    padding-top: 3em; }
.home nav {
  background: transparent; }
  .home nav a {
    border-radius: 7px; }
    .home nav a:hover {
      background: rgba(231, 228, 228, 0.2); }

@media (max-width: 768px) {
  .home .main-description {
    padding-top: 2em; } }
@media (min-width: 769px) and (max-width: 991px) {
  .home .main-description {
    padding-top: 2em;
    padding-bottom: 0; } }
.popular-project-type {
  background: white;
  text-align: center;
  width: 80%; }
