@import '../../colors.sass'

.home
    header
        background: url('../../../images/city.jpg') no-repeat $darkBlue
        //max-height: 520px
        a
            color: #fff
        .main-actions-btns
            padding-top: 3em

    nav
        background: transparent
        a
            border-radius: 7px
            //border-top-left-radius: 10px
            //border-bottom-right-radius: 30px
            &:hover
                background: rgba(231, 228, 228, 0.20)

@media (max-width: 768px)
    .home .main-description
        padding-top: 2em

@media (min-width: 769px) and (max-width: 991px)
    .home .main-description
        padding-top: 2em
        padding-bottom: 0

.popular-project-type
    background: white
    text-align: center
    width: 80%