@import '../../colors.sass'

.login,
.password-reset
    .login-part
        height: 289px
        button
            background: $blue
            font-size: 18px
            font-weight: bold
            padding: 3px 50px
    .form-outline-div
        .lead
            font-size: 19px
    .register-part
        .btn-warning
            padding: 15px
            font-weight: bold
.login
    .login-part
        border-right: 2px solid $lightBlue
.login-form-wrapper
    background: url('../../../images/clouds.png') 0 172px no-repeat
    //background-repeat: no-repeat
    background-size: 100% 298px
    //background-position-y: 170px
    background-color: white
    min-height: 545px