.login .login-part,
.password-reset .login-part {
  height: 289px; }
  .login .login-part button,
  .password-reset .login-part button {
    background: #0088cc;
    font-size: 18px;
    font-weight: bold;
    padding: 3px 50px; }
.login .form-outline-div .lead,
.password-reset .form-outline-div .lead {
  font-size: 19px; }
.login .register-part .btn-warning,
.password-reset .register-part .btn-warning {
  padding: 15px;
  font-weight: bold; }

.login .login-part {
  border-right: 2px solid #d9e1e4; }

.login-form-wrapper {
  background: url("../../../images/clouds.png") 0 172px no-repeat;
  background-size: 100% 298px;
  background-color: white;
  min-height: 545px; }
