@font-face {
    font-family: "gothic";
    src: url("../fonts/gothic/gothic.eot");
    src: local("gothic"), url("../fonts/gothic/gothic.woff") format("woff"), url("../fonts/gothic/gothic.ttf") format("truetype");
}

body {
    color: #192127;
}

body.dark {
    background-color: #192127;
}

header {
    background: #32cd32;
    color: white;
    font-size: 17px;
}

header.dark {
    background: #192127;
    color: white;
}

header a {
    color: white;
}

.navbar-toggle {
    height: inherit;
    background: #192127;
    margin-top: 1em;
}

.navbar-toggle .icon-bar {
    background: white;
}

nav {
    background: #009900;
    font-size: 17px;
}

nav a {
    color: #452a00;
}

.navbar {
    border-right: 0;
    min-height: 0;
    border-radius: 0;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    footer #social-links {
        text-align: left;
        text-indent: 0 !important;
        float: none !important;
    }
}

a {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

a.nd:hover {
    text-decoration: none;
}

.flash {
    text-align: center;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    padding-right: 28px !important;
    padding-top: 5px !important;
    background: white url("../images/select_arrow.png") no-repeat right 12px !important;
}

select[disabled] {
    background: #f3f3f3 !important;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../images/radio.png") no-repeat !important;
    width: 24px;
    height: 24px;
}

input[type="radio"]:checked {
    background: url("../images/radio_checked.png") no-repeat !important;
}

.font-xs {
    font-size: 14px;
}

.font-s {
    font-size: 17px;
}

.font-m {
    font-size: 20px;
}

.font-l {
    font-size: 23px;
}

.font-xl {
    font-size: 27px;
}

.font-xxl {
    font-size: 32px;
}

.b {
    font-weight: bold;
}

.crossed-out {
    text-decoration: line-through;
}

.c-white {
    color: white;
}

.c-orange {
    color: #ff9a00;
}

.c-dark-brown {
    color: #452a00;
}

.c-grey {
    color: #6e7a86;
}

.h {
    display: none;
}

.op100 {
    opacity: 1 !important;
}

.narrow {
    padding-top: 1px;
    padding-bottom: 1px;
}

.npl {
    padding-left: 0 !important;
}

.pt1em {
    padding-top: 1em;
}

.pt2em {
    padding-top: 2em;
}

.pt3em {
    padding-top: 3em;
}

.pt4em {
    padding-top: 4em;
}

.pt5em {
    padding-top: 5em;
}

.pb1em {
    padding-bottom: 1em;
}

.pb2em {
    padding-bottom: 2em;
}

.pb3em {
    padding-bottom: 3em;
}

.pl1em {
    padding-left: 1em !important;
}

.pl2em {
    padding-left: 2em !important;
}

.pr1em {
    padding-right: 1em !important;
}

.pr2em {
    padding-right: 2em !important;
}

.top50 {
    margin-top: 50px;
}

.top30 {
    margin-top: 30px;
}

.top40 {
    margin-top: 40px;
}

.top20 {
    margin-top: 20px;
}

.top10 {
    margin-top: 10px;
}

.bot10 {
    margin-bottom: 10px;
}

.bot20 {
    margin-bottom: 20px;
}

.bot30 {
    margin-bottom: 30px;
}

.bot40 {
    margin-bottom: 40px;
}

.bot50 {
    margin-bottom: 50px;
}

.nmb {
    margin-bottom: 0;
}

.nml {
    margin-left: 0 !important;
}

.nmr {
    margin-right: 0 !important;
}

.ma {
    margin: auto;
}

.mt1em {
    margin-top: 1em;
}

.mt2em {
    margin-top: 2em;
}

.mt3em {
    margin-top: 3em;
}

.ml2em {
    margin-left: 2em;
}

.mr {
    margin-right: 10px;
}

.mb2em {
    margin-bottom: 2em;
}

.bd {
    border: 2px solid #6e7a86;
}

.nbd, .nbd td {
    border: none !important;
}

.bdl {
    border-left: 2px solid #6e7a86;
}

.bdl-medium {
    border-left: 3px solid white;
}

.bdr {
    border-right: 2px solid #6e7a86;
}

.bdb {
    border-bottom: 2px solid #6e7a86;
}

.bd1px {
    border-width: 1px;
}

.bd-rd {
    border-radius: 4px;
}

hr.light {
    background: #192127;
    height: 1px;
}

hr.large {
    background: #d9e1e4;
    height: 10px;
    border: 0;
    box-shadow: inset 0 6px 6px -6px #acbec4;
}

.w20p {
    width: 20%;
}

.bg-white {
    background: white;
}

.bg-black {
    background: black;
    color: white;
}

.bg-grey {
    background: #d9e1e4;
}

.bg-orange {
    background: #ff9a00;
}

.last-functional-row {
    background: #ff9a00;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0 !important;
    text-align: center;
}

.last-functional-row:hover {
    background: #ff9a00;
}

.last-functional-row a {
    color: black;
    font-weight: bold;
}

table tr:hover td {
    background: #f1f4f5;
}

table tr:last-child:hover td {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

table td {
    vertical-align: middle !important;
}

.btn-warning {
    background: #ff9a00;
}

.btn {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#' ffffff, endColorstr='#' e6e6e6, GradientType=0);
    color: #333333;
    background-image: -moz-linear-gradient(top, white, #e6e6e6);
    background-image: -ms-linear-gradient(top, white, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, white, #e6e6e6);
    background-image: -o-linear-gradient(top, white, #e6e6e6);
    background-image: linear-gradient(top, white, #e6e6e6);
}

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    color: #333333;
    background-color: #e6e6e6;
}

.btn-primary {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#' 0088 cc, endColorstr='#' 0088 cc, GradientType=0);
    color: white;
    background-image: -moz-linear-gradient(top, #0088cc, #0088cc);
    background-image: -ms-linear-gradient(top, #0088cc, #0088cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0088cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0088cc);
    background-image: -o-linear-gradient(top, #0088cc, #0088cc);
    background-image: linear-gradient(top, #0088cc, #0088cc);
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    color: white;
    background-color: #0088cc;
}

.btn-warning {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#' ff9a00, endColorstr='#' ff9a00, GradientType=0);
    color: white;
    background-image: -moz-linear-gradient(top, #ff9a00, #ff9a00);
    background-image: -ms-linear-gradient(top, #ff9a00, #ff9a00);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9a00), to(#ff9a00));
    background-image: -webkit-linear-gradient(top, #ff9a00, #ff9a00);
    background-image: -o-linear-gradient(top, #ff9a00, #ff9a00);
    background-image: linear-gradient(top, #ff9a00, #ff9a00);
}

.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    color: white;
    background-color: #ff9a00;
}

.btn-danger {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#' 964 a49, endColorstr='#' 964 a49, GradientType=0);
    color: white;
    background-image: -moz-linear-gradient(top, #964a49, #964a49);
    background-image: -ms-linear-gradient(top, #964a49, #964a49);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#964a49), to(#964a49));
    background-image: -webkit-linear-gradient(top, #964a49, #964a49);
    background-image: -o-linear-gradient(top, #964a49, #964a49);
    background-image: linear-gradient(top, #964a49, #964a49);
}

.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    color: white;
    background-color: #964a49;
}

.btn-success {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#' 92 ce10, endColorstr='#' 92 ce10, GradientType=0);
    color: white;
    background-image: -moz-linear-gradient(top, #92ce10, #92ce10);
    background-image: -ms-linear-gradient(top, #92ce10, #92ce10);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#92ce10), to(#92ce10));
    background-image: -webkit-linear-gradient(top, #92ce10, #92ce10);
    background-image: -o-linear-gradient(top, #92ce10, #92ce10);
    background-image: linear-gradient(top, #92ce10, #92ce10);
}

.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    color: white;
    background-color: #92ce10;
}

.btn-info {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#' 92 ce10, endColorstr='#' 92 ce10, GradientType=0);
    border: 1px solid #6e7b86;
    color: white;
    background-image: -moz-linear-gradient(top, #6e7b86, #6e7b86);
    background-image: -ms-linear-gradient(top, #6e7b86, #6e7b86);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6e7b86), to(#6e7b86));
    background-image: -webkit-linear-gradient(top, #6e7b86, #6e7b86);
    background-image: -o-linear-gradient(top, #6e7b86, #6e7b86);
    background-image: linear-gradient(top, #6e7b86, #6e7b86);
}

.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    color: white;
    background-color: #6e7b86;
}

.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    border: 1px solid #192127;
}

.well-bd {
    border: 2px solid #6e7a86;
}

.well-grey {
    background: #d9e1e4;
    border: none;
}

.well-blue {
    color: white;
    background: #006dcc !important;
    border: none;
}

.well-dark {
    color: white;
    background: #192026 !important;
}

.well-blue-sm {
    color: white;
    background: #006dcc !important;
    border: none;
    padding: 2px;
    border-radius: 3px;
    margin-top: 5px;
}

.table-blue {
    border-collapse: separate !important;
    border: 2px solid #6e7a86;
    border-radius: 6px;
}

.table-blue thead th {
    background: #d9e1e4;
    border-bottom: 0 !important;
    padding: 15px 7px !important;
}

.table-blue thead th:first-child {
    border-top-left-radius: 6px;
}

.table-blue thead th:last-child {
    border-top-right-radius: 6px;
}

.table-blue tbody {
    color: #6e7a86;
}

.table-blue tbody td {
    border-top: 0 !important;
}

.btn-blue {
    background: #3d9ce3;
    color: white;
    text-decoration: none;
    padding: 5px 11px;
    border-radius: 7px;
}

.btn-blue:hover {
    background: #3d9ce3 !important;
}

.btn-blue:hover {
    color: white;
    text-decoration: none;
}

.btn-dark-grey {
    background: #6e7a86;
    color: white;
}

.btn-dark-grey:hover {
    background: #6e7a86 !important;
}

.btn-xl-yellow {
    background: url("../images/yellow.png") no-repeatsh;
}

.btn-xl-yellow:active, .btn-xl-yellow.active {
    background: url("../images/yellow.png") no-repeat;
}

.btn-xl-blue {
    background: url("../images/blue.png") no-repeat;
}

.btn-xl-blue:active, .btn-xl-blue.active {
    background: url("../images/blue.png") no-repeat;
}

.btn-xl {
    margin-bottom: 50px;
    font-size: 26px;
    color: white;
    height: 80px;
    margin: auto;
    width: 274px;
    padding-top: 0px;
}

.btn-xl:hover {
    color: white;
    -webkit-box-shadow: inset 3px 3px px rgba(0, 0, 0, 0.125);
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-xl:active, .btn-xl.active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-xl span {
    display: block;
    font-size: 15px;
    margin-top: 9px;
}

.dl-dt-left dt {
    text-align: left;
}

.text-orange {
    color: #ff9a00;
}

.text-medium {
    font-size: 17px;
}

.list-inside {
    list-style-position: inside;
}

.tab-header-with-icon {
    border-bottom: 2px solid #6e7a86;
    border-bottom-left-radius: 8px;
}

.tab-header-with-icon p {
    background: #6e7a86;
    border-radius: 6px 6px 0 6px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
    padding: 4px 7px;
    width: 180px;
}

.tab-header-with-icon p img {
    margin-right: 10px;
    height: 25px;
    width: 25px;
}

.sub-header {
    background: #d9e1e4;
    border-radius: 4px;
    color: #6e7a86;
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
    margin: 1.5em 0 0.5em;
}

.subhead {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    border-top: 4px solid #ff9a00;
    box-shadow: 0px 2px 0px 0px #cccccc;
}

.section-header {
    background: #6e7a86;
    color: white;
    font-size: 19px;
    text-indent: 5px;
}

.bwhite {
    background-color: #006dcc;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 20px solid #6e7a86;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 20px solid #6e7a86;
}

.form-inline {
    display: inline;
}