@mixin transition($transition-property, $transition-time, $method)
    -webkit-transition: $transition-property $transition-time $method
    -moz-transition: $transition-property $transition-time $method
    -ms-transition: $transition-property $transition-time $method
    -o-transition: $transition-property $transition-time $method
    transition: $transition-property $transition-time $method
