@import 'colors.sass'

.select2-choice,
.select2-choices
    border: 2px solid $grey !important
.select2-dropdown-open .select2-choice
    border: none !important

.select2-search-choice
    background-color: $lightGrey !important

#s2id_autogen1,
#s2id_autogen2
    opacity: 0