a {
  color: #38aaff;
} 

p {
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #6e7b86;
}

.page-header {
  border-bottom: 1px solid #bccad3;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  padding: 4px 4px 4px 4px;
  font-size: 15px;
  color: #6e7b86;
  border: 2px solid #6e7b86 !important;
}

.well {
  background-color: #e8ecee;
}

.btn {
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #6e7b86, #6e7b86);
  background-image: -ms-linear-gradient(top, #6e7b86, #6e7b86);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6e7b86), to(#6e7b86));
  background-image: -webkit-linear-gradient(top, #6e7b86, #6e7b86);
  background-image: -o-linear-gradient(top, #6e7b86, #6e7b86);
  background-image: linear-gradient(top, #6e7b86, #6e7b86);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'6e7b86, endColorstr='#'6e7b86, GradientType=0);
}

/*.btn:hover,*/
/*.btn:active,*/
/*.btn.active,*/
.btn.disabled,
.btn[disabled] {
  color: #ffffff;
  background-color: #6e7b86;
}

.btn-primary {
  background-color: #006dcc;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #5e7db5, #5e7db5);
  background-image: -ms-linear-gradient(top, #5e7db5, #5e7db5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5e7db5), to(#5e7db5));
  background-image: -webkit-linear-gradient(top, #5e7db5, #5e7db5);
  background-image: -o-linear-gradient(top, #5e7db5, #5e7db5);
  background-image: linear-gradient(top, #5e7db5, #5e7db5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'5e7db5, endColorstr='#'5e7db5, GradientType=0);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #5e7db5;
}

.btn-warning {
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #ff9a00, #ff9a00);
  background-image: -ms-linear-gradient(top, #ff9a00, #ff9a00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9a00), to(#ff9a00));
  background-image: -webkit-linear-gradient(top, #ff9a00, #ff9a00);
  background-image: -o-linear-gradient(top, #ff9a00, #ff9a00);
  background-image: linear-gradient(top, #ff9a00, #ff9a00);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'ff9a00, endColorstr='#'ff9a00, GradientType=0);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #ff9a00;
}

.btn-danger {
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #ff9a00, #ff9a00);
  background-image: -ms-linear-gradient(top, #ff9a00, #ff9a00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9a00), to(#ff9a00));
  background-image: -webkit-linear-gradient(top, #ff9a00, #ff9a00);
  background-image: -o-linear-gradient(top, #ff9a00, #ff9a00);
  background-image: linear-gradient(top, #ff9a00, #ff9a00);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'ff9a00, endColorstr='#'ff9a00, GradientType=0);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #ff9a00}

.btn-success {
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #45a900, #45a900);
  background-image: -ms-linear-gradient(top, #45a900, #45a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#45a900), to(#45a900));
  background-image: -webkit-linear-gradient(top, #45a900, #45a900);
  background-image: -o-linear-gradient(top, #45a900, #45a900);
  background-image: linear-gradient(top, #45a900, #45a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'45a900, endColorstr='#'45a900, GradientType=0);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #45a900;
}

.btn-info {
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #6e7b86, #6e7b86);
  background-image: -ms-linear-gradient(top, #6e7b86, #6e7b86);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6e7b86), to(#6e7b86));
  background-image: -webkit-linear-gradient(top, #6e7b86, #6e7b86);
  background-image: -o-linear-gradient(top, #6e7b86, #6e7b86);
  background-image: linear-gradient(top, #6e7b86, #6e7b86);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'6e7b86, endColorstr='#'6e7b86, GradientType=0);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #6e7b86;
}
/*
.alert {
  padding: 8px 35px 8px 14px;
  background-color: #192127;
  border: 1px solid #192127;
}*/

.alert-success {
  background-color: #dff0d8;
  border-color: #4b5c33;
}
.alert-success, .alert-success .alert-heading {
  color: #4b5c33;
}
.alert-danger, .alert-error {
  background-color: #ffe9dd;
  border-color: #c94b0a;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: #c94b0a;
}
.alert-info {
  background-color: #e8ecee;
  border-color: #6e7b86;
}
.alert-info, .alert-info .alert-heading {
  color: #6e7b86;
}

.navbar-inner {
  background-image: -moz-linear-gradient(top, #ff9a00, #ff9a00);
  background-image: -ms-linear-gradient(top, #ff9a00, #ff9a00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9a00), to(#ff9a00));
  background-image: -webkit-linear-gradient(top, #ff9a00, #ff9a00);
  background-image: -o-linear-gradient(top, #ff9a00, #ff9a00);
  background-image: linear-gradient(top, #ff9a00, #ff9a00);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'ff9a00, endColorstr='#'ff9a00, GradientType=0);
}

/*
.navbar .brand {
  padding: 8px 20px 12px;
  font-size: 30px;
  color: #192127;
}

.navbar .divider-vertical {
  height: 41px;
  background-color: #192127;
  border-right: 1px solid #192127;
}

.navbar .nav > li > a {
  padding: 10px 10px 11px;
  font-size: 17px;
  color: #192127;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #192127;
}
*/

.label,
.badge {
  padding: 1px 3px 2px;
  font-size: 9.75px;
  color: #ffffff;
  background-color: #999999;
}

.label-important,
.badge-important {
  background-color: #45a900;
}

.label-warning,
.badge-warning {
  background-color: #b94a48;
}

.label-success,
.badge-success {
  background-color: #f89406;
}

.label-info,
.badge-info {
   background-color: #3a87ad;
}

