.third-image {
  padding-left: 5px; }

#image-second-preview:hover,
#image-third-preview:hover {
  cursor: url(../../../images/zoom.png), auto; }

#summary-box {
  width: 300px; }
  #summary-box .left p {
    padding-left: 0.5em; }
