.dropzone
    min-height: 218px

.dz-download-file
    background-position: -268px -203px !important
    opacity: 1 !important
    text-decoration: none !important
    top: 30px !important
.dz-manage-file
    background-position: -268px -243px !important
    opacity: 1 !important
    text-decoration: none !important

.dropzone .dz-preview, .dropzone-previews .dz-preview
    margin: 15px !important