@import '../colors.sass'
@import '../stylebootstrap.css'

@media (max-width: 768px)
    body
        padding-top: 58px
header .user-info
    padding-top: 1.3em
    text-align: right

nav
    a
        color: white


footer
    background: $lightBlue
    color: #6e7b86
    h4
        font-weight: bold
    a
        color: #6e7b86
    .jumbotron
        background: $lightBlue !important
        padding-top: 10px !important
        padding-bottom: 0 !important
    #social-links
        float: right
        text-align: left
        text-indent: 3em

.user-section
    .navbar
        border-top: 2px solid #fff
        color: $darkBlue
        padding-top: 8px
        .container
            padding-left: 0
        .navbar-right a
            padding-bottom: 1px
    nav
        border-bottom: 0
        margin-bottom: 1em
    .nav>li>a
        border-radius: 6px 6px 0 0
        margin-right: 3px
        padding-bottom: 11px
        padding-top: 11px
        &.active,
        &:hover,
        &:focus
            color: $darkBlue
            background: #fff !important
            
@media (max-width: 991px)
    #mid-menu
        li
            border-radius: 0 !important
@media (max-width: 767px)
    .user-section
        .nav>li>a
            border-radius: 0
            padding-left: 2em

        .navbar-right
            width: 300px
            margin: 0 auto
            text-align: center
            li
                display: inline-block
                a
                    padding-left: 15px
@media (max-width: 730px)
    #mid-menu
        &.fixed
            top: 65px !important

@media (max-width: 690px)
    #mid-menu
        &.fixed
            top: 59px !important
#mid-menu
    background: $lightBlue
    min-height: 12px
    text-align: center
    position: relative

    &.fixed
        background: #6d7b86
        border-bottom: 1px solid #000
        box-shadow: 1px 0 3px #333
        position: fixed
        top: 70px
        width: 100%
        z-index: 100

    ul
        list-style: none
        margin: auto
    li
        background: $grey
        display: inline-table
        margin-right: -4px
        padding: 2px 15px

        &:last-child
            border-bottom-right-radius: 5px
            border-top-right-radius: 5px
        &:first-child
            border-bottom-left-radius: 5px
            border-top-left-radius: 5px
    a
        color: #fff
        display: inline-table
        padding: 5px 25px
        font-size: 18px
        text-decoration: none
        width: 195px

        &:hover,
        &.active
            background: #fff
            border-radius: 4px
            color: #000
            font-weight: bold