@import url(../stylebootstrap.css);
@media (max-width: 768px) {
  body {
    padding-top: 58px; } }
header .user-info {
  padding-top: 1.3em;
  text-align: right; }

nav a {
  color: white; }

footer {
  background: #d9e1e4;
  color: #6e7b86; }
  footer h4 {
    font-weight: bold; }
  footer a {
    color: #6e7b86; }
  footer .jumbotron {
    background: #d9e1e4 !important;
    padding-top: 10px !important;
    padding-bottom: 0 !important; }
  footer #social-links {
    float: right;
    text-align: left;
    text-indent: 3em; }

.user-section .navbar {
  border-top: 2px solid white;
  color: #192127;
  padding-top: 8px; }
  .user-section .navbar .container {
    padding-left: 0; }
  .user-section .navbar .navbar-right a {
    padding-bottom: 1px; }
.user-section nav {
  border-bottom: 0;
  margin-bottom: 1em; }
.user-section .nav > li > a {
  border-radius: 6px 6px 0 0;
  margin-right: 3px;
  padding-bottom: 11px;
  padding-top: 11px; }
  .user-section .nav > li > a.active, .user-section .nav > li > a:hover, .user-section .nav > li > a:focus {
    color: #192127;
    background: white !important; }

@media (max-width: 991px) {
  #mid-menu li {
    border-radius: 0 !important; } }
@media (max-width: 767px) {
  .user-section .nav > li > a {
    border-radius: 0;
    padding-left: 2em; }
  .user-section .navbar-right {
    width: 300px;
    margin: 0 auto;
    text-align: center; }
    .user-section .navbar-right li {
      display: inline-block; }
      .user-section .navbar-right li a {
        padding-left: 15px; } }
@media (max-width: 730px) {
  #mid-menu.fixed {
    top: 65px !important; } }
@media (max-width: 690px) {
  #mid-menu.fixed {
    top: 59px !important; } }
#mid-menu {
  background: #d9e1e4;
  min-height: 12px;
  text-align: center;
  position: relative; }
  #mid-menu.fixed {
    background: #6d7b86;
    border-bottom: 1px solid black;
    box-shadow: 1px 0 3px #333333;
    position: fixed;
    top: 70px;
    width: 100%;
    z-index: 100; }
  #mid-menu ul {
    list-style: none;
    margin: auto; }
  #mid-menu li {
    background: #6e7a86;
    display: inline-table;
    margin-right: -4px;
    padding: 2px 15px; }
    #mid-menu li:last-child {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px; }
    #mid-menu li:first-child {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px; }
  #mid-menu a {
    color: white;
    display: inline-table;
    padding: 5px 25px;
    font-size: 18px;
    text-decoration: none;
    width: 195px; }
    #mid-menu a:hover, #mid-menu a.active {
      background: white;
      border-radius: 4px;
      color: black;
      font-weight: bold; }
