dt {
  font-weight: normal;
  margin-bottom: 0.8em; }

.third-image {
  padding-left: 8px; }

#image-second-preview:hover,
#image-third-preview:hover {
  cursor: url(../../../images/zoom.png), auto; }
