@import '../../colors.sass'

.collab-option
    padding: 6px
    border-radius: 8px
    font-size: 20px
    text-indent: 10px
    &.active
        background: #FFF

#message-label
    position: absolute
    top: 8px
    left: 26px

#message, #task
    text-indent: 42px
    border: 2px solid
    line-height: 1.3em
    height: 3em
#task
    text-indent: .5em

.submit
    line-height: 1.3em
    height: 3em
    width: 100%

#actions-window
    border: 2px solid $grey
    border-radius: 8px
    margin-bottom: 2em

    .row
        margin-left: 0
        margin-right: 0
        padding-bottom: .7em
    .main-row
        padding-bottom: 1em
        div
            background: $lightGrey
            padding: 1.2em 1em
            &:first-child
                border-top-left-radius: 6px
            &:last-child
                border-top-right-radius: 6px

.project-message
    padding-left: 45px
    img
        margin-left: -36px