.collab-option {
  padding: 6px;
  border-radius: 8px;
  font-size: 20px;
  text-indent: 10px; }
  .collab-option.active {
    background: white; }

#message-label {
  position: absolute;
  top: 8px;
  left: 26px; }

#message, #task {
  text-indent: 42px;
  border: 2px solid;
  line-height: 1.3em;
  height: 3em; }

#task {
  text-indent: 0.5em; }

.submit {
  line-height: 1.3em;
  height: 3em;
  width: 100%; }

#actions-window {
  border: 2px solid #6e7a86;
  border-radius: 8px;
  margin-bottom: 2em; }
  #actions-window .row {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0.7em; }
  #actions-window .main-row {
    padding-bottom: 1em; }
    #actions-window .main-row div {
      background: #d9e1e4;
      padding: 1.2em 1em; }
      #actions-window .main-row div:first-child {
        border-top-left-radius: 6px; }
      #actions-window .main-row div:last-child {
        border-top-right-radius: 6px; }

.project-message {
  padding-left: 45px; }
  .project-message img {
    margin-left: -36px; }
